*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f172a;
}

.case{
  background: #111827;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px #111;
}

.display{
  width: 280px;
  height: 70px;
  background: #000;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
  overflow: hidden;
}

.keys{
  display: flex;
  gap: 10px;
}

.numbers{
  display: grid;
  grid-template-columns: repeat(3,70px);
  gap: 10px;
}

.operators{
  display: grid;
  grid-template-columns: 70px;
  gap: 10px;
}

.numbuttons{
  height: 60px;
  background: #1f2937;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  transition: .2s;
}

.numbuttons:hover{
  background: #374151;
}

.enter{
  background: #22c55e;
}

.enter:hover{
  background: #16a34a;
}

.clear{
  background: #ef4444;
}

.clear:hover{
  background: #dc2626;
}

.del{
  background: #f59e0b;
}

.del:hover{
  background: #d97706;
}
